.dijiktra__section {
  background: linear-gradient(to bottom, #1154a3 320px, #e7f4ff 320px);
  min-height: 100vh;
  position: relative;
}
.calculate__section {
  width: 52%;
  position: absolute;
  top: 247px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: #fff;
  border-radius: 8px;
}

.right__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #F2F3F6;
  padding: 28px 18px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.calculate__input__container {
  width: 50%;
  padding: 28px 9px 28px 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.calculate__input__container__head {
  font-size: 20px;
  line-height: 28px;
  color: #1154A3;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
}
.cresult__section__head {
  font-size: 18px;
  color: #1154a3;
  font-weight: 800;
  margin-bottom: 16px;
}
.select__input__label {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.custom__select {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

.custom__select:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

.button__container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.custom__button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.clear__button {
  background-color: #fff;
  color: #e07438;
  border: 1px solid #e07438;
  cursor: pointer;
}

.clear__button:hover {
  background-color: #eaeaea;
}

.calculate__button {
  background-color: #e07438;
  color: white;
  border: 1px solid #e07438;
  cursor: pointer;
}

.calculate__button:hover {
  background-color: #e97334;
}

.calculate__button:disabled {
  background-color: #cccccc; /* light gray color */
  color: #666666; /* dark gray text */
  border: 1px solid #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.result__section {
  width: 100%;
  height: 100%;
}
.result__show__section {
  background-color: white;
  width: 100%;
  height: 80%;
  text-align: left;
  border-radius: 6px;
}

.result__show__section__result {
    padding: 8px;
    color: gray;
    font-size: 14px;
}

.typography-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  width: 554px;
  height: 48px;
  position: absolute;
  top: 79px;
  left: 480px;
  opacity: 1;
  color: #ffffff;
}

.typography-subheading {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 600px;
  height: 24px;
  position: absolute;
  top: 143px; /* Adjusted top position */
  left: 455px;
  opacity: 1;
  color: #333333;
}
